---
---
  <!-- 配置astro.config.mjs中的base后，相应地添加href中的/astro -->
<div class="nav-links">
  <a href="/astro/">Home</a>
  <a href="/astro/about/">About</a>
  <a href="/astro/blog/">Blog</a>
  <a href="/astro/tags/">Tags</a>
</div>